<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cats fact</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}">
</head>
<body>
    <div class="container">
        <div class="image-wrapper">
            <img src="{{ image_url }}" alt="Embedded Image" width="{{ image_width }} height="{{ image_height }}">
        </div>
        <div class="text-block">
            {{ fact }}
        </div>
    </div>
</body>
</html>